* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}


/* header styles  */
.nav {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    display: flex;
    align-items: center;
}

.logo p {
    color: #0B0223;
    font-size: 45px;
}

.nav-items {
    display: flex;
    align-items: center;

}

.nav-items li {
    list-style: none;
    margin-left: 15px;

}

.nav-items a {
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}



.follow-us-item {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 200px;
    padding: 18px 27px;
    margin-top: 5px;
}








/* shared styles  */

.text-primary {
    color: #FF42A5;

}